<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %> </title>
</head>
<body>
    <h1>New Skill</h1>
    <form action="/skills" method="POST" autocomplete="off">
        <br>
        <div class="horizontal">Skill:&emsp;<input type="text" name="skillName"></div>
        <br>
        <div class="horizontal">Experience:&emsp;<input type="text" name="skillExperience"></div>
        <br>
        <button type="submit">Save Skill</button>
    </form>
    <a href="/skills">Back to Skills</a>
</body>

</html>