body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

a {
  color: #00B7FF;
}

.mainText{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.horizontal{
  display: flex;
  justify-content: flex-end;
}

.show-horizontal{
  display: flex;
  justify-content: space-between;
}

form{
  display: flex;
  flex-direction: column;
}